@tailwind base;
@tailwind components;
@tailwind utilities;


img {
  position: absolute;
  width: 200px; /* Adjust the size of the image as needed */
  height: auto;
  transition: transform 2s, top 2s, left 2s; /* Smooth transition */
  top: 10px; /* Initial top position of the image */
  left: 10px; /* Initial left position of the image */
}

.center {
  animation: moveToBottomCenter 2s forwards !important;  /* Animation to move to bottom center */
}

@keyframes moveToBottomCenter {
  0% {
    top: 0;
    left: 0;
  }
  100% {
    top: calc(100vh - 100px); /* Position at the bottom center, adjust as needed */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%);
  }
}

#plate {
  background-image: url("../public/images/plate.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

